<script type="text/template" class="op-text-temp">
	<div id="blog">
		<div class="post-header">
			<span class="post-title">
			{{= title }}
			</span>
		</div>
		<div class="post-body">
			<p>{{= content }}</p>
		</div>
		<div class="post-nav">
			<a href="/<%= @user.username %>/posts/{{= id }}">Comment</a> | <a href='/reblogs/op/{{= id }}/confirm'>Reblog</a><br>
		</div>
			<div class="tags-container">
				<div class="tags">
				Tags: {{ _.each(tags, function(tag, i){ }}
					{{ if(i == tags.length - 1){ }}
					<a href='{{= tag }}'> {{= tag }} </a>
					{{ } else { }}
					<a href='{{= tag }}'> {{= tag }}</a>,
				{{ } }) }}
				</div>
		</div>
	</div>
</script>
<script type="text/template" class="op-picture-temp">
	<div id="blog">
	<div class="post-header">
	<h4>{{= title }}</h4>
	</div>
		<img src='{{= media_url[0].url }}'></img>
	<p>{{= content }}</p>
	<a href="/<%= @user.username %>/posts/{{= id }}">Comment</a> | <a href='/reblogs/op/{{= id }}/confirm'>Reblog</a><br>
	<div class="tags">
		Tags: {{ _.each(tags, function(tag, i){ }}
			{{ if(i == tags.length - 1){ }}
			<a href='{{= tag }}'> {{= tag }} </a>
			{{ } else { }}
			<a href='{{= tag }}'> {{= tag }}</a>,
		{{ } }) }}
		</div>
	</div>
</script>
<script type="text/template" class="op-video-temp">
	<div id="blog">
	<h4>{{= title }}</h4>
 	{{ if (media_url[0].media_type == 'youtube'){ }}
			<div class="flex-video"> 
        			<iframe width="400" height="225" src="//www.youtube.com/embed/{{= media_url[0].url }}" frameborder="0" allowfullscreen></iframe>
		 	</div> 
	{{ } else if (media_url[0].media_type == 'vimeo') { }}
			 <div class="flex-video"> 
        			<iframe src="http://player.vimeo.com/video/{{= media_url[0].url }}" width="400" height="225" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        	 </div> 
    {{ } else if (media_url[0].media_type == 'vine') { }}
    		<div class="flex-video"> 
        	<iframe src="https://vine.co/v/{{= media_url[0].url }}/embed/simple" width="400" height="225" frameborder="0"></iframe><script src="https://platform.vine.co/static/scripts/embed.js"></iframe>
        	</div>
     {{ } }}
	<p>{{= content }}</p>
	<a href="/<%= @user.username %>/posts/{{= id }}">Comment</a> | <a href='/reblogs/op/{{= id }}/confirm'>Reblog</a><br>
	<div class="tags">
		Tags: {{ _.each(tags, function(tag, i){ }}
			{{ if(i == tags.length - 1){ }}
			<a href='{{= tag }}'> {{= tag }} </a>
			{{ } else { }}
			<a href='{{= tag }}'>{{= tag }}</a>,
		{{ } }) }}
		</div>
	</div>
</script>
<script type="text/template" class="rb-text-temp">
	<div id="blog">
	<p>originally posted by: <a href="/{{= original_user }}">{{= original_user }}</a></p>
	<h4>{{= original_post.title }}</h4>
	<p>{{= original_post.content }}</p>
	<a href="/{{= original_user }}/posts/{{= original_post_id }}">Comment</a> | <a href='/reblogs/rb/{{= id }}/confirm'>Reblog</a><br>
		<div class="tags">
		Tags: {{ _.each(tags, function(tag, i){ }}
			{{ if(i == tags.length - 1){ }}
			<a href='{{= tag }}'>{{= tag }}</a>
			{{ } else { }}
			<a href='{{= tag }}'> {{= tag }}</a>,
		{{ } }) }}
		</div>
	</div>
</script>
<script type="text/template" class="rb-picture-temp">
	<div id="blog">
	<p>originally posted by: <a href="/{{= original_user }}">{{= original_user }}</a></p>
	<h4>{{= original_post.title }}</h4>
		<img src='{{= media_url[0].url }}'></img>
	<p>{{= original_post.content }}</p>
	<a href="/{{= original_user }}/posts/{{= original_post_id }}">Comment</a> | <a href='/reblogs/rb/{{= id }}/confirm'>Reblog</a><br>
	<div class="tags">
		Tags: {{ _.each(tags, function(tag, i){ }}
			{{ if(i == tags.length - 1){ }}
			<a href='{{= tag }}'> {{= tag }} </a>
			{{ } else { }}
			<a href='{{= tag }}'>{{= tag }}</a> + ","
		{{ } }) }}
		</div>
	</div>
</script>