/*= require foundation */
/*
 *= require quill.snow
*/

body {
	background-color: #36A4FD;
	background: linear-gradient(to right bottom, #0099FF, #0066CC) fixed;

}

.post-header {
	background-color: #404040;
	border-radius: 3px 3px 0 0;
}

.post-title{
	font-size: 150%;
	padding: 20px;
	color: #FBFBFB;
}

.post-body{
	padding: 20px;
}

.post-nav {
	padding-left: 20px;
}

.tags-container {
	background-color: #404040;
	border-radius: 0 0 3px 3px ;
}

.tags{
	padding: 10px;
	font-size: 80%;
}

#blog {
	min-height: 100px;
	width: 600px;
	background-color: #FBFBFB;
	margin-top: 30px;
	margin-right: 20px;
	margin-left: 27%;	
	border-radius: 3px;
	margin-bottom: 30px;
	display: inline-block;

}

.new-post-form {
	width: 60%;
	margin: auto;
}

.text-area{
	height: 400px;
}


.comments {
	display: block;
}

.comment-box{
	display: inline;
	background-color: #FBFBFB;
	margin: 5px;
	padding: 10px;
	border-radius: 5px;
	width: 57%;
}

.comment-form {
	width: 50%;
	float:left;
}

.page-center{
	margin-left: 27%;
}

iframe {
	margin-left: 0px;
}

#time {
	/*float: right;*/
	margin-top: 50px;
	display: inline-block;
	vertical-align: top;
	width: 100px;
	background-color: #FBFBFB;
	border-radius: 5px;
	padding: 5px;
}

.top-bar-section ul.right li {
	color: white;
}

[class*="column"] + [class*="column"]:last-child {
  float: left; 
}

.community-container {
	background-color: ##CCCCFF;

}

.forumbox{
	background-color: #FBFBFB;
	margin: 10px;
		box-sizing: border-box;
}

.media-feed{
	background-color: #FBFBFB;
margin: 10px;
	box-sizing: border-box;
}

#post-to-options_selected{
	display: inline;
	width: 200px;
}

.quill-wrapper{
	background-color: #ffffff;
	border: 1px solid gray;
	margin-bottom: 10px;
}

.toolbar.ql-toolbar-container{
	border-bottom: 1px solid gray;
}
