/*= require foundation */
/*
 *= require quill.snow
*/

.page-title{	
	color: #ffffff;
	margin-top: 55px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: -30px;
	font-size: 350%;
	text-align: center;
}

.navbar-container{
	
}

/*.navbar-container.navbar-collapsed{
	margin-left: 97%;
}

.navbar-collapse-button {
	margin-top: 5px;
}

.navbar-collapse-link {
	height: 0px;
}*/



body {
	background-color: #36A4FD;
	background: linear-gradient(to right bottom, #0099FF, #0066CC) fixed;
}

.showposts{
	margin-top: 5px;
}

#blog {
	min-height: 100px;
	width: 650px;
	background-color: #FBFBFB;
	margin-top: 30px;
	margin-right: 20px;
	margin-left: 30%;	
	border-radius: 3px;
	margin-bottom: 30px;
	display: inline-block;
}

.post-header {
	background-color: #333333;
	border-radius: 3px 3px 0 0;
	height: relative;
	min-height: 30px;
}

.post-citation {
	font-size: 75%;
	 padding: 10px;
	height: 10px;
	color: #FBFBFB;
}

.post-title {
	line-height: 1em;
	font-size: 150%;
	padding: 10px 10px 10px 20px;
	color: #FBFBFB;
}

.post-media {
	text-align: center;
	padding: 5px;
	border-bottom: 1px solid #B2B2B2;
}

.post-body {
	text-align: justify;
	line-height: 1.2em;
	font-size: 85%;
	padding: 20px;
}

p.line{
	font-family: Helvetica;
	line-height: 1.2;
	font-size: 100%;
	margin: 0px;
}

.min-text{

}

.post-nav {
	padding: 10px;
	border-top: 1px solid #B2B2B2;
}

.post-nav-left {
	display: inline-block;
	width: 49%;
}

.post-nav-right {
	text-align: right;
	display:inline-block;
	width: 49%;
}

.tags-container {
	background-color: #FBFBFB;
	border-radius: 0 0 3px 3px ;
}


.tags {
	border-top: 1px solid #B2B2B2;
	padding: 10px;
	font-size: 80%;
}


.new-post-form {
	width: 60%;
	margin: auto;
}

.text-area {
	height: 400px;
}


.comments {
	display: block;
}

.comment-box{
	display: inline;
	background-color: #FBFBFB;
	margin: 5px;
	padding: 10px;
	border-radius: 5px;
	width: 57%;
}

.comment-form {
	width: 50%;
	float:left;
}

.page-center{
	margin-left: 27%;
}

iframe {
	margin-left: 0px;
}

#time {
	/*float: right;*/
	margin-top: 50px;
	display: inline-block;
	vertical-align: top;
	width: 100px;
	background-color: #FBFBFB;
	border-radius: 5px;
	padding: 5px;
}

.top-bar-section ul.right li {
	color: white;
}

[class*="column"] + [class*="column"]:last-child {
  float: left; 
}

.community-container {
	background-color: ##CCCCFF;

}

.forumbox{
	background-color: #FBFBFB;
	margin: 10px;
		box-sizing: border-box;
}

.media-feed{
	background-color: #FBFBFB;
margin: 10px;
	box-sizing: border-box;
}

#post-to-options_selected{
	display: inline;
	width: 200px;
}

.quill-wrapper{
	background-color: #ffffff;
	border: 1px solid gray;
	margin-bottom: 10px;
}

.toolbar.ql-toolbar-container{
	border-bottom: 1px solid gray;
}
