/*= require foundation */


.new-post-form {
	width: 60%;
	margin: auto;
}

.text-area{
	height: 400px;
}

body {
	background-color: #36A4FD;
}

.comments {
	display: block;
}
.comment-box{
	display: inline;
	background-color: #FBFBFB;
	margin: 5px;
	padding: 10px;
	border-radius: 5px;
	width: 57%;
}

.comment-form {
	width: 50%;
	float:left;
}
#blog {
	min-height: 100px;
	width: 600px;
	background-color: #FBFBFB;
	margin-top: 30px;
	margin-right: 20px;
	margin-left: 27%;
	padding: 20px;
	border-radius: 5px;
	margin-bottom: 50px;
	display: inline-block;


}

iframe {
	margin-left: 76px;
}

#time {
	/*float: right;*/
	margin-top: 50px;
	display: inline-block;
	vertical-align: top;
	width: 100px;
	background-color: #FBFBFB;
	border-radius: 5px;
	padding: 5px;


}

.top-bar-section ul.right li {
	color: white;
}

[class*="column"] + [class*="column"]:last-child {
  float: left; 
}

.community-container {
	background-color: ##CCCCFF;

}

.forumbox{
	background-color: #FBFBFB;
	margin: 10px;
		box-sizing: border-box;
}

.media-feed{
	background-color: #FBFBFB;
margin: 10px;
	box-sizing: border-box;
}

#post-to-options_select{
	display: inline;
	width: 200px;
}