/*= require foundation */

#new-text-content {
	height: 400px;
}

body {
	background-color: #36A4FD;
}

#blog {
	min-height: 100px;
	width: 600px;
	background-color: #FBFBFB;
	margin-top: 50px;
	margin-right: 20px;
	/*padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;*/
	padding: 20px;
	border-radius: 10px;
	margin-bottom: 50px;
	display: inline-block;
}

iframe {
	margin-left: 76px;
}

#time {
	/*float: right;*/
	margin-top: 50px;
	display: inline-block;
	vertical-align: top;
	width: 100px;
	background-color: #FBFBFB;
	border-radius: 10px;
	padding: 5px;


}

.top-bar-section ul.right li {
	color: white;
}
