<script type="text/template" class="op-temp">
	<div id="blog">
		<div class="post-header">
			<div class="post-title">
			{{= title }}
			</div>
		</div>

		
		{{ if (post_type === "text") {  }}
			<div class="post-body">
				{{= content }}
			</div>
		{{ } }}

	
		{{ if (post_type === "picture") {  }}
			<div class="post-media">
				<img src='{{= media_url[0].url }}'></img>
			</div>
			{{if (content != '<p class="line" id="line-1"><br></p>') { }}
				<div class="post-body">
					{{= content }}
				</div>
			{{ } }}
		{{ } }}


		{{ if (post_type === "video") {  }}
			{{ if (media_url[0].media_type === 'youtube'){ }}
				<div class="post-media">
					<div class="flex-video"> 
	        			<iframe width="400" height="225" src="//www.youtube.com/embed/{{= media_url[0].url }}" frameborder="0" allowfullscreen></iframe>
	        		</div>
			 	</div> 

			{{ } else if (media_url[0].media_type === 'vimeo') { }}
					 <div class="post-media">
						<div class="flex-video"> 
		        			<iframe src="http://player.vimeo.com/video/{{= media_url[0].url }}" width="400" height="225" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
		        		</div>
		        	 </div> 
		    {{ } else if (media_url[0].media_type === 'vine') { }}
		    		<div class="post-media">
			    		<div class="flex-video"> 
				        	<iframe src="https://vine.co/v/{{= media_url[0].url }}/embed/simple" width="400" height="225" frameborder="0"></iframe><script src="https://platform.vine.co/static/scripts/embed.js"></iframe>
			        	</div>
			        </div>
		     {{ } }}
		     {{if (content != '<p class="line" id="line-1"><br></p>') { }}
				<div class="post-body">
					{{= content }}
				</div>
			{{ } }}
		{{ } }}

		<div class="post-nav">
			<div class="post-nav-left">
				<a href="/<%= @user.username %>/posts/{{= id }}"><i class="fa fa-comments fa-lg"></i> {{= comments_num }}</a><a href='/reblogs/op/{{= id }}/confirm'>  <i class="fa fa-refresh fa-lg"></i></a><br>
			</div>
			{{if (<%= current_user.id %> === user_id ) { }}
			<div class="post-nav-right">
				<a href="/posts/:id/edit"><i class="fa fa-pencil-square-o fa-lg"></i></a> <a href="/posts/:id/delete"><i class="fa fa-times fa-lg"></i></a>
			</div>
			{{ } }}
		</div>

		{{ if (tags.length > 0) { }}
		<div class="tags-container">
			<div class="tags">
				Tags: {{ _.each(tags, function(tag, i){ }}
					{{ if(i === tags.length - 1){ }}
					<a href='{{= tag }}'> {{= tag }} </a>
					{{ } else { }}
					<a href='{{= tag }}'> {{= tag }}</a>,
				{{ } }) }}
			</div>
		</div>
		{{ } }}

	</div>
</script>





<script type="text/template" class="rb-temp">
	<div id="blog">
	<div class="post-header">
		<div class="post-citation">originally posted by: <a href="/{{= original_user }}">{{= original_user }}</a></p>	
		</div>
		<div class="post-title">
			{{= original_post.title }}
		</div>
	</div>


		{{ if (original_post.post_type === "text") {  }}
			<div class="post-body">
				{{= original_post.content }}
			</div>
		{{ } }}

	
		{{ if (original_post.post_type === "picture") {  }}
			<div class="post-media">
				<img src='{{= media_url[0].url }}'></img>
			</div>
			{{if (original_post.content != '<p class="line" id="line-1"><br></p>') { }}
				<div class="post-body">
					{{= original_post.content }}
				</div>
			{{ } }}
		{{ } }}

	
		{{ if (original_post.post_type === "video") {  }}
			{{ if (media_url[0].media_type === 'youtube'){ }}
				<div class="post-media">
					<div class="flex-video"> 
	        			<iframe width="400" height="225" src="//www.youtube.com/embed/{{= media_url[0].url }}" frameborder="0" allowfullscreen></iframe>
	        		</div>
			 	</div> 

			{{ } else if (media_url[0].media_type === 'vimeo') { }}
					 <div class="post-media">
						<div class="flex-video"> 
		        			<iframe src="http://player.vimeo.com/video/{{= media_url[0].url }}" width="400" height="225" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
		        		</div>
		        	 </div> 
		    {{ } else if (media_url[0].media_type === 'vine') { }}
		    		<div class="post-media">
			    		<div class="flex-video"> 
				        	<iframe src="https://vine.co/v/{{= media_url[0].url }}/embed/simple" width="400" height="225" frameborder="0"></iframe><script src="https://platform.vine.co/static/scripts/embed.js"></iframe>
			        	</div>
			        </div>
		     {{ } }}
		     {{if (original_post.content != '<p class="line" id="line-1"><br></p>') { }}
				<div class="post-body">
					{{= original_post.content }}
				</div>
			{{ } }}
		{{ } }}

	<div class="post-nav">
		<div class="post-nav-left">
			<a href="/{{= original_user }}/posts/{{= original_post_id }}"><i class="fa fa-comments fa-lg"></i> {{= comments_num }}</a> <a href='/reblogs/rb/{{= id }}/confirm'>  <i class="fa fa-refresh fa-lg"></i></a><br>
		</div>
		{{if (<%= current_user.id %> === user_id ) { }}
		<div class="post-nav-right">
			<a href="/posts/:id/edit"><i class="fa fa-pencil-square-o fa-lg"></i></a> <a href="/posts/:id/delete"><i class="fa fa-times fa-lg"></i></a>
		</div>
		{{ } }}
	</div>

	{{ if (tags.length > 0) { }}
		<div class="tags-contianer">
			<div class="tags">
				Tags: {{ _.each(tags, function(tag, i){ }}
					{{ if(i === tags.length - 1){ }}
					<a href='{{= tag }}'>{{= tag }}</a>
					{{ } else { }}
					<a href='{{= tag }}'> {{= tag }}</a>,
				{{ } }) }}
			</div>
		</div>
	{{ } }}

	</div>
</script>
