/*= require foundation */
/*
 *= require quill.snow
*/

/* ------EVERY PAGE------ */

.page-title{	
	color: #ffffff;
	margin-top: 55px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: -52px;
	font-size: 250%;
	text-align: center;
	text-decoration: bold;
}


.navbar-container{
	
}
.navbar-post-button{
	margin-left: 10px;
	margin-top: 13px;
	color: #D64978;

}

/*.navbar-container.navbar-collapsed{
	margin-left: 97%;
}

.navbar-collapse-button {
	margin-top: 5px;
}

.navbar-collapse-link {
	height: 0px;
}*/



body {
	background-color: #008DA1;
/*	background: linear-gradient(to right bottom, #0099AE, #006686) fixed;
*/}


/* HOME AND JOURNAL POST DISPLAY */

.showposts{
	margin-top: 150px;
	margin-left: auto;
	margin-right: auto;
}

#blog {
	min-height: 100px;
	width: 650px;
	background-color: #FBFBFB;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 3px;
	margin-bottom: 30px;
	display: block;
}

.user-sidebar{
	position: fixed;
	margin-top: 175px;
	margin-left: 100px;
	float: left;
	clear: both;
	background-color: #FBFBFB;
	border-radius: 3px;
	width: 250px;
}
.sb-section{
	border-bottom: 1px solid #B2B2B2;
	padding: 15px 5px 15px 25px;
	font-size: 85%;
}
.sb-header{
	background-color: #333333;
	border-radius: 3px 3px 0 0;
	color: #ffffff;
	padding: 5px;
	font-weight: bold;
	text-align: center;
	font-size: 120%;
}
.sb-link-icon{
	background-color: #525252;
	color: #FC3A7B;
	padding: 7px;
	margin-right: 5px;
	border-radius: 5px;
	font-weight: bold;
}

#indv-post{
	background-color: #FBFBFB;
	border-radius: 3px;
}

.post-header {
	background-color: #333333;
	border-radius: 3px 3px 0 0;
	height: relative;
	min-height: 30px;
}

.post-citation {
	font-size: 75%;
	 padding: 10px;
	height: 10px;
	color: #FBFBFB;
}

.post-title {
	line-height: 1em;
	font-size: 150%;
	padding: 10px 10px 10px 20px;
	color: #FBFBFB;
}

.post-media {
	text-align: center;
	padding: 5px;
	border-bottom: 1px solid #B2B2B2;
}

.post-body {
	text-align: justify;
	line-height: 1.2em;
	font-size: 85%;
	padding: 20px;
}

p.line{
	font-family: Helvetica;
	line-height: 1.2;
	font-size: 100%;
	margin: 0px;
}

.post-nav {
	padding: 10px;
	border-top: 1px solid #B2B2B2;
	color: #B2B2B2;
	font-size: 80%;
}

.post-nav-left {
	display: inline-block;
	width: 49%;
}

.post-nav-right {
	text-align: right;
	display:inline-block;
	width: 49%;
}

.tags-container {
	background-color: #FBFBFB;
	border-radius: 0 0 3px 3px ;
}


.tags {
	border-top: 1px solid #B2B2B2;
	padding: 10px;
	font-size: 80%;
}

.show-post-container{
	margin-top: 116px;
	margin-left: auto;
	margin-right: auto;
	width: 650px;
}

/* COMMUNITY PAGES */

.comm-page-title{
	color: #FBFBFB;
	margin-top: 55px;
	float:left;
	font-size: 200%;
	margin-left: 50px;
	font-variant: small-caps;
	display:inline;
	font-weight: bold;
}

.comm-util-bar{
	font-size: 200%;
	display: inline-block;
	margin-top: 55px;
	margin-left: 20px;
	}
.comm-util-bar-item{
	display: inline-block;
}

.leaveLinkDiv a {
	color: #FAC116 !important;
}

.community-container{
	margin-top: 5px;
	margin-left: 25px;
	margin-right: -50px;
}

.forumbox{
	background-color: #EBEBEB;
	display: inline-block;
	overflow-y: scroll;
	height: 650px;
	width: 725px;
	border-radius: 3px;
}

.forum-topbar{
	background-color: #FBFBFB;
	border-radius: 3px;
	color: #999999;
	text-decoration: bold;
	text-align: center;
	padding: 5px;
	margin: 5px;
}
.forum-topbar-buttons{
	float: right;
	margin-right: 10px;
}

.forum-listing{
	font-size: 85%;
	margin: 5px;
	border-radius: 3px;
	background-color: #FBFBFB;
}

.forum-title{
	color: #ffffff;
	padding: 10px;
	border-radius: 3px 3px 0 0;
	background-color: #808080;
}

.forum-body-preview{
	padding: 10px;
	background-color: #FBFBFB;
	color: #999999;
	border-radius: 3px;
}

.forum-thread-details{
	float:right;
}

.forum-new-form{
	margin-top: 50px;
}

.comm-media-feed{
	display: inline-block;
	overflow-y: scroll;
	height: 650px;
	width: 725px;
}

#comm-post{
	background-color: #FBFBFB;
	border-radius: 3px;
	margin-bottom: 30px;
	margin-left: 25px;
	width: 650px;
}

/* NEW POST & COMMENT FORMS */

.new-post-form {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 75px;
}

.text-area {
	height: 400px;
}


.comments {

}

.comment-box{
	background-color: #FBFBFB;
	margin: 5px;
	border-radius: 5px;	
}

.comment-form {

}

.page-center{
	margin-left: 27%;
}

iframe {
	margin-left: 0px;
}

#time {
	/*float: right;*/
	margin-top: 50px;
	display: inline-block;
	vertical-align: top;
	width: 100px;
	background-color: #FBFBFB;
	border-radius: 5px;
	padding: 5px;
}

.top-bar-section ul.right li {
	color: white;
}

[class*="column"] + [class*="column"]:last-child {
  float: left; 
}


#post-to-options_selected{
	display: inline;
	width: 200px;
}

.quill-wrapper{
	background-color: #ffffff;
	border: 1px solid gray;
	margin-bottom: 10px;
}


.toolbar.ql-toolbar-container{
	border-bottom: 1px solid gray;
}

/* ---SIGNIN/SIGNUP PAGES--- */
.signin-title-splash{
	text-shadow: 2px 2px 3px #000000;
	margin-top: 100px;
	font-size: 500%; 
	text-align: center; 
	z-index: 2;
	margin-left: 25%;
	line-height: 0.8em;
	position: absolute;
	color: #ffffff;
}

.signin-bg-images{
  position: fixed;
  height: 55%;
  top: 0; right: 0; bottom: 0; left: 0;

}

/*.signin-bg-images img {
  width: 50%;
  height: 50%;
}

.signin-bg-images img:nth-child(1) {
  position: absolute;
  top: 0; left: 0;
}
.signin-bg-images img:nth-child(2) {
  position: absolute;
  top: 0; left: 50%;
}
.signin-bg-images img:nth-child(3) {
  position: absolute;
  top: 50%; left: 0;
}
.signin-bg-images img:nth-child(4) {
  position: absolute;
  top: 50%; left: 50%;
}
*/

.signin-float{
	font-size: 85%;
	background-color: rgba(255, 255, 255, 0.7) ;
	border-radius: 5px;
	padding: 10px;
	position: fixed;
	z-index: 2;
	margin-top: 250px;
}